alib-52
checksum_info.txt
crte_*.txt
default.svf
DESIGN_LIBS
dw_*
*.gz
innovus.cmd*
innovus/DBS 
innovus/GDS
innovus/HDL
innovus/innovus.cmd*
innovus.log*
innovus/*.log*
innovus/RPT
innovus/timingReports
*.cts.*
*.rpt
Synopsys_*.txt
*.wlf
work
project_1/*.cache
transcript
vivado.jou
*.cr.mti
*_mapped.v
*.ddc

tsmc_template/HDL/PLACED/
tsmc_template/HDL/RTL/pads.cr.mti
tsmc_template/HDL/RTL/pads.mpf
tsmc_template/HDL/RTL/transcript
tsmc_template/HDL/RTL/work/
tsmc_template/design_compiler/DDC/
tsmc_template/design_compiler/DESIGN_LIBS/
tsmc_template/design_compiler/command.log
tsmc_template/design_compiler/default.svf
tsmc_template/design_compiler/filenames.log
tsmc_template/innovus/CONF/
tsmc_template/innovus/DBS/
tsmc_template/innovus/GDS/
tsmc_template/innovus/RPT/
tsmc_template/innovus/SDF/
tsmc_template/innovus/ccopt.spec
tsmc_template/innovus/innovus.cmd
tsmc_template/innovus/innovus.cmd1
tsmc_template/innovus/innovus.cmd2
tsmc_template/innovus/innovus.log
tsmc_template/innovus/innovus.log1
tsmc_template/innovus/innovus.log2
tsmc_template/innovus/innovus.logv
tsmc_template/innovus/innovus.logv1
tsmc_template/innovus/innovus.logv2
tsmc_template/innovus/mips.antenna.lef
tsmc_template/modelsim/
tsmc_template/*.log
